html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align:justify;
}

.logo-bottom{
    top: 0%;
    background-color: rgb(0, 75, 75);
}

.logo-top, .logo-bottom{
    text-align: center;
}

.content{
    margin: 25px;
}

.full_image img {
    width: 700px; 
    height: auto; 
    border: 5px;
    border-radius: 5px;
    border-style: double;
    border-color: black;
}

.half_image img {
    width: 500px; 
    height: auto; 
    border: 5px;
    border-radius: 5px;
    border-style: double;
    border-color: black;
}